<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amadon</title>\
</head>

<body>

    <table>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Dojo T-Shirt</td>
            <td>$24.99</td>
            <td>
                <form action="/process" method="post">
                        {% csrf_token %}
                        <select name="amount">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <input type="hidden" name="id" value="101">
                        <input type="submit" value="Buy!">                    
                </form>
            </td>
        </tr>
        <tr>
            <td>Dojo Sweater</td>
            <td>$34.99</td>
            <td>
                <form action="/process" method="post">
                        {% csrf_token %}
                        <select name="amount">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <input type="hidden" name="id" value="102">
                        <input type="submit" value="Buy!">                        
                </form>
            </td> 
        </tr>
        <tr>
            <td>Dojo Cup</td>
            <td>$4.99</td> 
            <td>
                <form action="/process" method="post">
                        {% csrf_token %}
                            <select name="amount">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <input type="hidden" name="id" value="103">
                            <input type="submit" value="Buy!">                     
                    </form>
            </td>
        </tr>

        <tr>
            <td>Algorithm Book</td>
            <td>$49.99</td>
            <td>
                <form  action="/process" method="post">
                    {% csrf_token %}
                        <select name="amount">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <input type="hidden" name="id" value="104">
                        <input type="submit" value="Buy!">                        
                </form>
            </td>
        </tr>

    </table>
    
</body>

</html>